
<app-gereric-list [listado]="peliculas">
  <div vacio>
    <h3>No hay peliculas para mostrar</h3>
  </div>
  <h3>Lista de Peliculas</h3>
  <ng-container contenido>
    <div class="movies_container">
    @for (pelicula of peliculas; track $index) {
      <div class="movie_container">
        <a>
        @if (!pelicula.poster) {
          <img src="default.jpg" width="169" height="250" alt="Imagen no disponible" />
        }
        @else {
          <img [src]="pelicula.poster" width="169" height="250" alt="Imagen de la pelicula" />
        }     
      </a>
      <p>
        <a>
        {{pelicula.titulo}}
        </a>
      </p>
      <div>
        <a mat-flat-button class="button">
        Edit
        </a>

        <a mat-flat-button class="button warn">
        Delete
        </a>
      </div>
      
      </div>
  }
</div>
  </ng-container>
</app-gereric-list>
   
  
  