.movies_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.movie_container{
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

p{
    max-width: 225px;
    font-size: 15px;
    font-weight: bold;
}

.button.warn {  /* Sin espacio entre las clases */
    margin-left: 1rem;
}