<mat-toolbar>
    <span>
        <a mat-button routerLink="/">
            <mat-icon>local_movies</mat-icon>
            Home
        </a>
    </span>
    <div>
        <a mat-button routerLink="movies/filter">
            <mat-icon>search</mat-icon>
            Search Movies
        </a>
    </div>
    <div>
        <a mat-button routerLink="genres">
            Genres
        </a>
    </div>
    <div>
        <a mat-button routerLink="actors">
            Actors
        </a>
    </div>
    <div>
        <a mat-button routerLink="cinemas">
            Cinemas
        </a>
    </div>
    <div>
        <a mat-button routerLink="cinemas/create">
            Create Cinema
        </a>
    </div>
    <div>
        <a mat-button routerLink="movies/create">
            Create Movie
        </a>
    </div>
</mat-toolbar>